<link rel="stylesheet" href="assets/dist/css/bootstrap.min.css">
<!-- <link rel="stylesheet" href="assets/dist/css/index.min.css"> -->
<link rel="stylesheet" href="assets/dist/css/style.min.css">
<link rel="stylesheet" href="assets/dist/css/main.min.css">
<link rel="stylesheet" href="assets/dist/css/resume.min.css">
<link rel="stylesheet" href="assets/libs/swiper-slider/swiper-bundle.min.css">

<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
