<div include-html="header-links.html" id="header_file_link"></div>

<nav class="navbar position-fixed w-100 py-3 bg-light zi-5 top-0">
	<div class="container">
		<a class="navbar-brand bg-black text-white px-3 fw-medium" href="#">Logo</a>
		<div class="w-35px" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
			<img src="assets/img/header/list.svg" class="w-100" alt=""></div>
	</div>
</nav>



<!-- <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Toggle right offcanvas</button> -->

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
	<div class="offcanvas-header">
		<h5 class="offcanvas-title fs-30 fw-normal" id="offcanvasRightLabel">Resume</h5>
		<button type="button" class="btn-close shadow-none border-0" data-bs-dismiss="offcanvas" aria-label="Close"></button>
	</div>
	<div class="offcanvas-body">
		<ul class="list-unstyled ps-5">
			<li class="pb-3"><a href="javascript:;" class="fs-14 text-uppercase fw-normal text-black">Home</a></li>
			<li class="pb-3"><a href="javascript:;" class="fs-14 text-uppercase fw-normal text-black">Services</a></li>
			<li class="pb-3"><a href="javascript:;" class="fs-14 text-uppercase fw-normal text-black">Work</a></li>
			<li class="pb-3"><a href="javascript:;" class="fs-14 text-uppercase fw-normal text-black">Blog</a></li>
			<li class="pb-3"><a href="javascript:;" class="fs-14 text-uppercase fw-normal text-black">About</a></li>
			<li class="pb-3"><a href="javascript:;" class="fs-14 text-uppercase fw-normal text-black">Contact</a></li>

		</ul>
	</div>
</div>