@media (min-width: 991.98px) {
    .top_main_heading {
        & .inner_container {
            &::before{
                font-size: 200px !important;
            }
            }
        }
}
@media (min-width: 767.98px) {
        .top_main_heading {
            & .inner_container {
            position: relative; 
                &::before{
                    content: "About";
                    color: #f0f0f0;
                    font-size: 150px;
                    font-weight: 700;
                    position: absolute;
                    top: 50px;
                    left: 50%;
                    line-height: 100%;
                    transform: translate(-50% , -50%);
                }
            }
            &.services_heading {
                & .inner_container {
                    &::before{
                        content: "Services";
                    }
                }
            }
            &.portfolio_section {
                & .inner_container {
                    &::before{
                        content: "Portfolio";
                    }
                }
            }
    }
}
