@charset "UTF-8";

@import "variables";
@import "main";

// hero-section
.hero-section {
  height: calc(100vh - 70px);
  & .inner_container {
    &::before{
      content: "About";
      color: #f0f0f0;
      font-size: 250px;
      font-weight: 700;
      position: absolute;
      top: 50px;
      left: 50%;
      transform: translate(-50% , -50%);
    }
    & .content_side {
      & .inner {
        transform: rotate(90deg);
        color: rgba(0, 0, 0, 0.8);
        letter-spacing: 1rem;
        transform-origin: left top 0;
        font-family: Arial, sans-serif;
        left: 16px;
        top: 24px;
        &::after {
          content: "";
          position: absolute;
          top: 8px;
          right: -40px;
          background: #000;
          width: 40px;
          height: 1px;
        }
      }
      & .main_content {
        font-family: Arial, sans-serif !important;
        line-height: 1.8;
      }
    }
    & .user_slider {
      & .swiper-wrapper {
        & .swiper-slide {
          & .swiper-slide-shadow {
            background: none !important;
        }
        }
        
      }
    }
  }
}
